<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tragolisto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="androidx.credentials.TYPE_NO_CREDENTIAL" />
    <uses-permission android:name="androidx.credentials.TYPE_USER_CANCELEDs" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TragoListo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".chat.ChatSelectorScreen"
            android:exported="false"
            android:label="@string/title_activity_chat_selector_screen"
            android:theme="@style/Theme.TragoListo" />
        <activity
            android:name=".auth.LoginScreen"
            android:exported="true"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.TragoListo">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/title_activity_login_screen">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="TODO"
                    tools:ignore="AppLinkUrlError" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TragoListo"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false"
            android:label="Onboarding"
            android:theme="@style/Theme.TragoListo" />
    </application>

</manifest>